@charset "utf-8";

/*======================================
CSS CONTENT -header
====================================== */
#header {background-image: url(../img/header/header-back.gif);background-repeat: repeat-x;height: 30px;width: 960px;margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;text-align: left;}
#header h1 {float: left;width: 365px;margin-right: 5px;}
#header-log {text-align: left;float: left;width: 300px;padding-top: 30px;}
#header-help {text-align: right;float: right;width: 100px;padding-top: 35px;margin-right: 15px;}

/*======================================
CSS CONTENT -contents
====================================== */
#contents {width: 914px;margin-right: auto;margin-left: auto;margin-top: 15px;text-align: center;}


/*======================================
CSS CONTENT -footer
====================================== */
#footer {background-image: url(../img/footer/footer-bg.gif);background-repeat: repeat-x;height: 60px;margin-top: 5px;padding-top: 7px;font-size: 93%;}
#footer-logo {float: left;width: 250px;}
#footer-copy {float: right;width: 600px;text-align: right;}
ul.footer-menu {height: 30px;}
ul.footer-menu  li {display: inline;line-height: 30px;background-image: url(../img/footer/footer-sen.gif);background-repeat: no-repeat;	background-position: right center;padding-right: 15px;padding-left: 15px;}
.footer-copyright {font-size: 10px;}
